List of doctors

<ul>
<% doctors.each do |doctor| %>
  <li>
  <%= doctor.name %>
  <br />
  Hospitals : <%= doctor.hospitals.pluck(:name).join(', ') %>
  <br />
  Available at : 
  <br />
  <% doctor.schedules.each do |schedule| %>
    - <%= formatted_schedule(schedule) %> <%= link_to "Make an appointment", appointments_path(user_id: current_user.id, schedule_id: schedule.id), method: :post %>

  <% end %>
  </li>
<% end %>
</ul>