List of doctors

<ul>
<% doctors.each do |doctor| %>
  <li>
  <%= doctor.name %>
  <br />
  Hospitals : <%= doctor.hospitals.pluck(:name).join(', ') %>
  <br />
  Available at : 
  <br />
  <% doctor.schedules.each do |schedule| %>
    - <%= formatted_schedule(schedule) %>
  <% end %>
  </li>
<% end %>
</ul>